<div ng-init="editableStat = false" ng-transclude contenteditable="{{editableStat}}" ng-class="{editable: editableStat}">
    {{editableStat}}
</div>
<div>
    <button ng-click="editableStat =true" ng-show="!editableStat">edit</button>
    <button ng-click="editableStat =false" ng-show="editableStat">save</button>
</div>
